<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <script src="https://kit.fontawesome.com/fb030a63a0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <h1>TODO App</h1>
    </header>
    <hr>
    <main>
        <div id="forms">
            <form action="/addTask" method="POST">
            <div id="desc">
                <h3>Description</h3>
                <input type="text" name="description" id="description-box" placeholder="What do you need to do">
            </div>
            <div id="catgry">
                <h3>Category</h3>
                <select name="categories" id="category-box">
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                    <option value="Cleaning">Cleaning</option>
                    <option value="College">College/School</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div id="dates">
                <h3>Due Date</h3>
                <input type="date" name="date" id="date-box">
            </div>
            <hr id="line">
            <div class="buttons">
                <button id="add" type="submit"><i class="fa-sharp fa-solid fa-plus"></i> Add Task</button>
            </div>
        </form>
        </div>
        <section>
            <div>
                <ul>
                    <% for(let i of todo_tasks){%>
                        <li>
                            <div class="box">
            
                                    <input type="checkbox" class="tick-box" >
                                
                                <div class="task-info">
                                    <h3><%=i.task%></h3>
                                    <p><i class="fa-sharp fa-solid fa-calendar-days"></i>&nbsp;&nbsp;<%=i.date%></p>
                                </div>
                                <div class="cat">
                                    <h3><%=i.category%></h3>
                                </div>
                                <div class="done">
                                    <a href="/delete-task/?id=<%=i._id%>">
                                        <input type="button" value="Completed">
                                    </a>
                                </div>
                            </div>
                        </li>
                    <%}%>                  
                </ul>
            </div>
        </section>
    </main>
    <script src="/js/script.js"></script>
</body>
</html>